$primary-color:#323232;
$secondary-color:#323232;
$tertiary-color:#af0404;
$quaternary-color:#f0a500;
$pentanary-color:#cf7500;

$primaryfont: 'Limelight', cursive;
$secondaryfont:'Montserrat', sans-serif;