body{
    color:black;
}
.footer{
    background-color:#f0a500;
color:white;
    height:35vh;
    text-align:center;
    margin-top: 10%;
}

.footerpara{
    width:30%;
    padding:2% 0;
    margin:0 auto;
}

.secondfooterpara{
    background-color:#f0a500 ;
    padding:1% 0;
}


@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .footerpara{
        width:80%;
        margin:0 auto;
    }

}
@media (max-width: 576px) {
    .footerpara{
        width:80%;
        margin:0 auto;
    }
}